<nav class="navbar">
  <div class="navbar-container">
    <!-- Links -->
    <ul class="navbar-links">
      <li><a href="/" class="<%= page === 'home' ? 'active' : '' %>">Home</a></li>
      <li><a href="/songs" class="<%= page === 'songs' ? 'active' : '' %>">Songs</a></li>
      <li><a href="/artists" class="<%= page === 'artists' ? 'active' : '' %>">Artists</a></li>
      <li><a href="/albums" class="<%= page === 'albums' ? 'active' : '' %>">Albums</a></li>
      <li><a href="/news" class="<%= page === 'news' ? 'active' : '' %>">News</a></li>
      <li><a href="/genres" class="<%= page === 'genres' ? 'active' : '' %>">Genres</a></li>
    </ul>

  </div>
</nav>